.app {
  text-align: center;
  background-color: #D9D7F1;
  padding: 15px;
  margin-bottom: 5px;
}

.name{
  color: black;
  text-align: center;
  display: inline-block;
}
.login{
  display: inline-block;
  background-color:  #D9D7F1;
  width: 100%;
}
.var{
  margin: 30px;
  margin-bottom: 0%;
  text-decoration: none;
  font-size: 20px;
}
.main-bg {
  height : 300px;
  background-image : url('./food.jpg');
  background-size : cover;
  background-position : center;
}
.list{
  padding: 10px;
  padding-top: 20px;
  text-align: left;
  border-bottom: 1px solid grey;
  margin-left: 50px;
  margin-right: 50px;
  text-decoration: none;
  color: black;
}
.close{
  width: 25px;
  border: none;
}
.date{
  font-size: 15px;
  text-align: right;
  font-style: italic;
  padding: 0%;
}
.nameD{
  text-align: center;
}
.title{
  text-decoration: none;
  color: black;
  padding-top: 30px;
}
small{
  font-size: 20px;
  text-align: right;
}
.small{
  font-size: 20px;
  text-align: right;
}
.row{
  width: auto;
  margin: auto;
}

.menubar{
  margin:auto;
}
.write{
  text-align: center;
  padding-right: 10px;
  margin-top: 30px;
}

.back{
  margin-left: 10px;
  background-color:#FFFDDE;
  color: black;

}
.vertical{
  margin-left: 30px;
  margin-top: 10px;
}
.info{
  padding: 10px;
  font-size: 20px;
  margin: 25px;
  margin-bottom: 10px;
}
.all{
  width: 60%;
  margin: auto;
}
.floatL{
  float: left;
  margin: auto;
  width: 20%;
  text-align: left;
}
.floatR{
  float: left;
  width: 80%;
  text-align: center;
}
.comm{
  margin: auto;
  margin-top: 30px;
  width: 80%;

}
.cnxl{
  background-color: white;
  color: #b4aff3;
  padding-left: 40px;
  padding-right: 40px;
}
.ok{
  background-color: #b4aff3;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
}
.blind{
  color: white;
}
.smallL{
  float: left;
  width: 20%;
}
.smallR{
  float: left;
  width: 80%;
  text-align: left;
}
.inlinePic{
  display: inline-block;
  width: 25%;
  margin: 2em;
  border: 1px solid lightgray;
  padding-bottom: 1%;
  background-color: #FFFDDE;
}
.delLike{
  text-align: right;
}
.black{
  color: black;
}
.black:hover{
  color: #b4aff3;
}
.titleD:hover{
  color: #b4aff3;
  cursor: pointer;
}
.titleD, .searchI, .inline{
  display: inline-block;
}
.searchI{
  height: 35px;
  width: 35%;
}
.select{
  height: 35px;
  width: 90px;
}
.searchB{
  background-color: #FFFDDE;
  height: 35px;
  width: 60px;
  border-style:outset;
}
.editCenter, .table, .detailList{
  width: 70%;
  text-align: center;
  margin: auto;
}
.detailR{
  text-align: right;
}
.td1{
  width: 30%;
  font-size: 20px;
  text-align: left;
}
.td2{
  width: 70%;
  font-size: 20px;
  text-align: left;
}
.td3{
  width: 30%;
  font-size: 20px;
  text-align: left;
}
.inputpw, .pw, .phone{
  width: 400px;
  height: 30px;
  margin-bottom: 5px;
  font-size: 17px;
  border-radius: 0.25em;
}
.tr{
  height: 100px;
  vertical-align: middle;
}
.out{
  text-align: right;
}
.name, .out:hover{
  cursor: pointer;
}
.gather{
  width: 100%;
  height: 35vh;
  background-color:#D9D7F1;
  margin: auto;
  padding: 5px;
}
.gatherL{
  font-size: 50px;
  font-style: italic;
  color: #e1fbad;
  display: inline;
  float: left;
  text-align: center;
  width: 30%;
  padding-top: 8%;
}
.gatherR{
  margin: 5px;
  display: inline;
  float: right;
  text-align: left;
  width: 65%;
  padding-top: 6%;
}
.triple{
  display: inline-block;
  width: 12vw;
  height: 200px;
  margin: 5px;
  background-color: #FFFDDE;
  border-radius: 1em;
}
.up{
  padding: 10px;
  color: #a5f701;
  font-style: italic;
}
.under{
  padding: 15px;
  color: #d0f87f;
  text-align: right;
  font-size: 40px;
}
.under:hover{
  cursor: pointer;
}
.FI{
  width: 30vw;
  height: 20vw;
}
.phoneImage{
  width: 100%;
  height: 100%;
}